version: '3.8'

services:
  web:
    image: bala336/myapp:v1
    deploy:
      replicas: 2
      restart_policy:
        condition: any
    ports:
      - "5000:5000"
  
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web
